<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
  <h:head>
    <title>#{msgs.title}</title>
  </h:head>
  <h:body>
    <h:form>
      <p>
            #{msgs.thankYou}
        <h:outputFormat value="#{msgs.score}">
          <f:param value="#{quizBean.score}"/>
        </h:outputFormat>
      </p>
      <p>
        <h:commandButton value="#{msgs.startOver}"
                         action="#{quizBean.startOverAction}"/>
      </p>
    </h:form>
  </h:body>
</html>